@import 'config';
@import 'utilities';
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: "Raleway",sans-serif;
    line-height: 1.6;
    background: $color-light;
}

a {
    text-decoration: none !important;
    color: $color-light;
    font-size: 1rem;
}

ul{
    list-style: none;
    margin-bottom: 0;
}

h2, h3, h4{
    text-transform: uppercase;
    color: $color-dark;
}

img{
    width: 100%;
    height:auto ;
    vertical-align: middle;
}

#header {
    //Header Home
    &-home{
        background:$bg-image;
        height: 100vh;
 

    //Header Content
    .header-content{
        left: 50%;
        top: 50%;
        transform: translate(-50%,) translateY(-50%);
        color: $color-light;
        line-height: 2;

        h1{
            font-size: 3rem;
            font-weight: 300;
            line-height: 2;
        }

        p{
            font-size: 1rem;
            line-height: 3;
        }
    }
   }
    &-inner{

    }
}
 
  .s-navbar {
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .s-main-nav {
    flex-direction: column;
    list-style-type: none;
    height: 0;
    transition: all 300ms ease;    
  }
  .z-index-2{
    z-index: 2;
  }

  .active {
    height: 180px;
    background-color: rgba($color-dark, 0.5);
    border-radius: 25px;
  }  // Home Sections
  .border-radius-25px{
    border-radius: 25px;
  }
  .nav-links,
  .logo {
    color: rgba(255, 255, 255, 0.7);
  }

  .logo {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 20px;
    transform: rotate(360deg);
    transition: transform 700ms ease;
  }
  
  .s-navbar-toggle {
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba($color-light, 0.8);
    font-size: 24px;
  }
  
  .logo:hover,
  .nav-links,
  .s-navbar-toggle:hover {
    color: rgba(255, 255, 255, 1) !important;
  }


  #home {
      &-a{
          
          background-color: $bg-color;
          .services{

              &-box{
                width: 300px;
                box-shadow: 0px 11px 40px 0px rgba(79,118,157,.1);
                background-color: $color-light;                

                h3{
                    font-size: 1.8em;
                    color: $color-dark;
                    font-weight: 300;
                }
                
                p{
                    color: $color-p;
                }
        
              }

              .fas{
                  color: $color-red;
                  background-color: lighten($color-red, 50%);
                  border-radius: 50px;
              }
          }
      }

      &-b{
          
        .nowmore{
            background:$bg-image;
            height: 300px;


            .nowmore-box{
                color: $color-light;
                line-height: 2;
                transform: translateY(25%);
        
                
                h2{
                    // font-size: 3rem;
                    font-weight: 400;
                    // line-height: 2;
                    color: $color-light;
                }

            }
        }
      }

      &-c{

        .news{

            .news-box{
                width: 300px;

                h3{
                    font-size: 1.8em;
                    color: $color-dark;
                    font-weight: 300;
                }
            
                p{
                    color: $color-p;
                }
             }
          }
      }
  }

  .bottom-line{
      max-width: 110px;
      border-bottom: $color-red 3px solid;
  }

  #footer{
      &-home{
          background-color: $color-dark;

          .footer-boxes{
              .footer-box{
                  width: 218px;
                  color: $color-p;  

                  a{
                      color: $color-p;
                  }

                  h2, h3{
                      color: $color-light;
                      font-weight: 400;
                  }

                  .fas{
                      color: $color-red;
                  }
              }
          }
      }
  }
  
  @media screen and (min-width: 768px) {
    .s-navbar {
      height: 70px;
    }
  
    .s-main-nav {
      transition: height 300ms ease;
      flex-direction: row;
    }
    .active {
        height: auto;
        background-color: transparent;
      } 

    .logo {
      margin-top: 0;
    }
  
    .s-navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }