
@media(max-width: 500px) {
    .Navbar__Items,
    .Navbar {
        background-color: #263246;
      flex-direction: column;
    }
    
  .Navbar__Items {
      display:none;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .Navbar .Navbar__Items.Navbar__Items--right .Navbar__Link a{
        padding: 19px;
    }
      
  .Navbar__Items--right {
      margin-left:0;
    }
    .Navbar__Items--right a {
        color: white;
        text-decoration: none;
        margin-top: 15px ;
      }
      
  .Navbar__ToggleShow {
      display: block;
    }
    .Navbar__Link {
        align-self: center;
    }
      
  .Navbar__Link-toggle {
      align-self: center;
      display: initial;
      position: relative;
      cursor: pointer;
      margin-top: 5%;
    } 

    .container{
        position: relative;
        margin: auto;
    }
    
    .welcome-section{
        position: relative;
        height: 250px;
    }

    .welcome-section-box h1{
        font-size: .8rem;
    }

    .welcome-section-box h2{
        font-size: 0.5rem;
    }

    .btn{
        padding: 0.3rem .80rem;
        border-radius: 5px;
        border: 0;
        text-transform: uppercase;
        font-size: 0.5rem;
        position: relative;
        font-weight: 400;
    }

    .services-section-container h2{
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    .services-section-container p{
        font-size: .8rem;

    }
    
    .services-section-cards{
        display: block;
    }
     .services-section-card{
        display: block;
        text-align: left;
    }

    .services-section i{
        font-size: 1.5rem;
    }
    .services-section-card h3{
        text-align: justify;
        font-size: .9rem;
    } 
    .services-section-card p{
        text-align: justify;
        font-size: .6rem;
    } 
    .nowmore-section-box{
        position: relative;
        vertical-align: middle;
    }
    .nowmore-section-box{
        padding: 1rem;
    }
    .news-section-container h2{
        font-size: 1.1rem;
        text-align: center;
        text-transform: uppercase;
        color: #263246;
        font-weight: 300;
    }

    .news-section-container p{
        font-size: 0.7rem;
    }

    .news-section-cards{
        display: flex;
        flex-direction: column;
    }    
    .news-section-card p{
        font-size: .6rem;
    }
    
   .footer-container{
       display: grid;
       grid-template-columns: 1fr;
    }

    }
