
body {
    font-family: "Raleway",sans-serif;
    margin: 0;
  }
  
.Navbar {
    background-color:#263246;
    display: flex;
    padding: 30px;
    font-family: sans-serif;
    color: white;
  }
  
  .Navbar__Link {
 text-align: center;
}
  .Navbar__Link-brand {
    font-size: 2.3em;
    padding-left: 4%;
    text-transform: uppercase;
    font-weight: 600;

  }
  
  .Navbar__Items {
    display: flex;
    padding: 10px;
  }
  
  .Navbar__Items--right {
    margin-left:auto;
    color: white;
  }
  .Navbar__Items--right a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
  }
  
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
      
  .Navbar__Items {
      display:none;
    }
      
  .Navbar__Items--right {
      margin-left:0;
    }
    .Navbar__Items--right a {
        color: white;
        text-decoration: none;
      }
      
  .Navbar__ToggleShow {
      display: flex;
    }
    .Navbar__Link {
        align-self: center;
    }
      
  .Navbar__Link-toggle {
      align-self: center;
      display: initial;
      position: relative;
      cursor: pointer;
      margin-top: 5%;
     } 
  }

.active{
    border-bottom: 2px solid #d83a3a;
}

.first{
    background-image: url("https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Slider_image-1.png");
    background-position: 50% 0px;
    width: 100%;
    height: 660px;
    color: white;
    text-align: center;


}
.first h1{
    font-size: 3.8em;
    margin-top: 10%;
    font-weight: 400;
}
.first h2{
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 5%;
}

.first-box{
    padding: 50px;
    color: white;
    text-align: center;
    border: 0;

}
img{
    width: 100%;
    height:auto ;
    vertical-align: middle;
}
.btn{
    background: #d83a3a;
    padding: 12px 35px;
    text-align: center;
    color: white;
    border-radius: 3px;
    border: solid  #d83a3a;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    font-weight: 700;
    line-height: 24px;
}
.btn:hover {
    color: rgb(187, 24, 24);
    background: transparent;
    border: 1px rgb(187, 24, 24) solid;
    text-decoration: none;

}
.second{
    display: flex;
  
}
.second-box{
    background: rgb(246, 246, 247);
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

}
.second-box h1{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #263246;
    font-weight: 300;
}
.second-box p{
    color: gray;
}
.card{
    background: white;
    padding: 30px;
    text-align: justify;
    margin: 20px ;
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 1px 50px 20px rgb(235, 235, 241);

}
.card p{
    color: gray;
}
.card h2{
    font-size: 2em;
    color: #263246;
    font-weight: 300;
}

.third{
    background-image: url("https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Slider_image-1.png");
    background-position: 50% 0px;
    height: 360px;
    color: white;
    padding: 50px;
    text-align: center;
    border: 0;
    
}
.third h1{
    font-size: 3em;
    margin-top: 7%;
}
.four{
display: flex;
}
.four-box{
    background: transparent;
    padding: 30px;
    text-align: justify;
    margin: 20px ;
    position: relative;
    box-sizing: border-box;

}
.four-box p{
    color: gray;
}
.four-box h1{
    font-size: 3em;
        text-align: center;
        text-transform: uppercase;
        color: #263246;
        font-weight: 300;
}
footer{
    background: #263246;
    color: white;
}
.footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-box{
    padding: 3%;
    text-align: left;
    margin: 20px ;
    position: relative;
    box-sizing: border-box;

}
.footer-box p{
    color: rgb(161, 156, 156);
}
.footer-box h1{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

.footer-box h3{
    border-bottom: 2px #d83a3a solid;
    font-weight: 300;
}




@media only screen and (max-width: 600px) {
    header  {
        background: #263246;
    }
    .menu{
        width: 100%;
    }
    ul{
        list-style: none;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    li{
        text-align: center;
        }
        li a {
            display: inline-flex;
            color: white;
            text-align: justify;
            text-decoration: none;
           flex-direction: column;
        }
    .logo{
    
        color: white;
        width: 100%;
        position: relative;
    }
    .first{
        background-image: url("https://demo.athemes.com/sydney/wp-content/uploads/sites/103/2019/12/Slider_image-1.png");
        background-position: 50% -170px;
        width: 100%;
        height: 200px;
        color: white;
        text-align: center;
    
    
    }
    .first-box{
        color: white;
        text-align: center;
        border: 0;
    
    }
    .first h1{
        font-size: 2.4em;
        margin-top: -7%;
        font-weight: 400;
    }
    .first h2{
        font-size: 1.1em;
        margin-top: -4%;
        font-weight: 100;
    }
    
    .second{
        display: flex;
        flex-direction: column;
      
    } 
    .second-box{
        background: rgb(246, 246, 247);
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    
    }
    .second-box h1{
        padding:11%;
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        color: #263246;
        font-weight: 400;
    }
    .second-box p{
        color: gray;
    }
    .card{
        background: white;
        padding: 30px;
        text-align: justify;
    
    }
    .card p{
        color: gray;
    }
    .card h2{
        font-size: 1.4em;
        color: #263246;
        font-weight: 300;
    }
     
    .third{
        height: 350px;
        color: white;
        padding: 10%;
        text-align: center;
        border: 0;
        
    }
    .third h1{
        font-size: 2em;
        margin-top: 15%;
        font-weight: 400;
        padding-bottom: 5%;
    }

    .four h1{
        font-size: 0.7em;
        font-weight: 500;
    }
  }